Project Title: The Beverage Battle of the Neighborhoods in London, UK

Part II:

DATA AND SOLUTION DESCRIPTIONS:

First of all, I will install and import the necessary python packages, such as Beautifulsoup, wikipedia, pandas, numpy, geopy, and sklearn. Second, I will download ‘the List of areas of London’ on Wikipedia (https://en.wikipedia.org/wiki/List_of_areas_of_London) and sort the data to form the first data frame. The data frame contains data of ‘Location’, ‘Borough', 'Post town', 'PostalCode', 'Dial code', 'OS grid ref'. I will replace 'Location' with 'Neighborhod' to make it easier to understand and drop the column, 'Dial code', as it will not be used later. Next, I will convert 'OS grid ref' to latitude and longitude, create a new data frame to store the converted information, and merge this new data frame with the first one. 

After clearing the data, I will only focus on data in the post town, London, to ensure the business location derived later will be in the main area of London. I will then garner information about the most common venues in each neighborhood of the main London area using the Foursquare API. 

Subsequently, I will apply k-means clustering with k=5 to segmenting the neighborhoods based on information of the five most common venues in the respective neighborhoods. For the cluster with the highest frequency of the first three common venues being one of the following categories: coffee shop, café, pub, and bar, it will be further analyzed. Within this cluster, I will select neighborhoods showing all of the first 3 common venues being one of the aforementioned categories and present their locations using the folium package. 

Finally, I will use the ‘search for venues’ function in the Foursquare to identify coffee shops, cafés, pubs, and bars near the identified neighborhoods as the potential customers for this new beverage and ingredient supply company.

In this session below, I will be showing data extraction and cleaning for the subsequent analysis.

In [1]:
import wikipedia
print(wikipedia.WikipediaPage(title = 'List of areas of London').summary)

This is a list of the areas of London, in alphabetical order.
London is administered by the City of London and 32 London boroughs. These boroughs are modern, having been created in 1965 and have a weaker sense of identity than their constituent "districts" (considered in speech, "parts of London" or more formally, "areas"). The boroughs were primarily formed from amalgamations of Metropolitan, County and Municipal Boroughs. These in turn were groupings of Ancient Parishes, in turn being economically large enough villages and towns which warranted a church, and before 1900 gained a Civil Parish counterpart in almost all instances. The capital had three ancient boroughs, uniting for a purpose once-subdivided parishes, London, Southwark and Kingston upon Thames. Most areas were instead towns and villages with quite steady boundaries from the Middle Ages, through the process of urbanisation and into the modern era.
Sub-districts of the districts rooted on parishes are of five types:

former hamlets, in all but the greenest fringes of London these grew and merged into neighbouring settlements, have rarely been assigned formal or customary boundaries. Therefore perceptions of their extent are informal.
former manors, where the last extent of these has been carved up into consistent zones, "schemes" of one or more housing, or other type of development. In various parts of the city, their identities may be: forgotten, fading, partly reviving, or well-preserved such as in business/green/retail parks or conservation areas.  In most cases, the central manor house area, demesne of the manor has kept a named identity or replaced by an eponymous street name.
estates more recently in single ownership or set out as a large planned area, later than manors, in many cases such as Belgravia, Fitzrovia, Canning Town, Nine Elms, these have a strong, coherent, identity and are usually internally homogenous or similar in architectural style.
feature-named districts based on the name of a local station (rail, tram or tube) or other feature such a monument or notable coaching inn name, such as Nags Head, Holloway, a double instance of this
geographic suffixes and prefixes (such as South Croydon, East Finchley and Woodford Green).For electoral purposes all boroughs are divided into wards which may share the names of London districts, drawn to have equal head of voting population (electorate) they depart from true historic and building scheme boundaries and are redrawn every 8-12 years.
London postcode districts often have an influence over residents' and businesses' self-identity. They were not designed for this purpose. Some areas are now interchangeable (e.g. Brondesbury and Kilburn, which share a grid reference in the table), with the greatest overlap such as this in areas where differently named stations in the public transit system almost overlap.
The northernmost settlement is Crews Hill, Enfield – westernmost is Harefield, Hillingdon – southernmost is Old Coulsdon, Croydon – easternmost as well as most outlying overall is North Ockendon, Havering.

In [11]:
import pandas as pd
import numpy as np
import geopy
import folium
from geopy.geocoders import Nominatim
import requests # library to handle requests
from pandas.io.json import json_normalize # tranform JSON file into a pandas dataframe

# Matplotlib and associated plotting modules
import matplotlib.cm as cm
import matplotlib.colors as colors

# import k-means from clustering stage
from sklearn.cluster import KMeans

print('Libraries imported.')

Libraries imported.

In [12]:
from bs4 import BeautifulSoup
import requests

wikipage = 'https://en.wikipedia.org/wiki/List_of_areas_of_London'

In [13]:
page = requests.get(wikipage)
page_html = BeautifulSoup(page.text, 'lxml')
wiki_table = page_html.find('table', attrs = {'class':'wikitable sortable'})
#print(wiki_table)
row_list = wiki_table.find_all('tr')

In [14]:
header_row = row_list.pop(0)
header_th = header_row.find_all('th')
header = [el.text for el in header_th]

table_dict = {x:[] for x in header}

In [15]:
for row in row_list:
 row_td = row.find_all('td')
 for el,td in zip(header,row_td):
    table_dict[el].append(td.text)

London = pd.DataFrame(table_dict)
print(London)

                                       Location  \
0                                    Abbey Wood
1                                         Acton
2                                     Addington
3                                    Addiscombe
4                                   Albany Park
5                              Aldborough Hatch
6                                       Aldgate
7                                       Aldwych
8                                      Alperton
9                                       Anerley
10                                        Angel
11                                    Aperfield
12                                      Archway
13                               Ardleigh Green
14                                       Arkley
15                                  Arnos Grove
16                                       Balham
17                                     Bankside
18                                     Barbican
19                                      Barking
20                                  Barkingside
21                                   Barnehurst
22                                       Barnes
23                                  Barnes Cray
24                                  Barnet Gate
25   Barnet (also Chipping Barnet, High Barnet)
26                                    Barnsbury
27                                    Battersea
28                                    Bayswater
29                                    Beckenham
..                                          ...
503                                West Hackney
504                                    West Ham
505                              West Hampstead
506                                 West Harrow
507                                  West Heath
508                                 West Hendon
509                             West Kensington
510                                West Norwood
511                                West Wickham
512                              Westcombe Park
513                                 Westminster
514                                   Whetstone
515                                  White City
516                                 Whitechapel
517                Widmore (also Widmore Green)
518                                     Whitton
519                                   Willesden
520                                   Wimbledon
521                              Winchmore Hill
522                                  Wood Green
523                                    Woodford
524                              Woodford Green
525                                   Woodlands
526                                    Woodside
527                               Woodside Park
528                                    Woolwich
529                              Worcester Park
530                             Wormwood Scrubs
531                                     Yeading
532                                    Yiewsley

                        London borough               Post town  \
0                         Greenwich[1]                  LONDON
1    Ealing, Hammersmith and Fulham[2]                  LONDON
2                           Croydon[2]                 CROYDON
3                           Croydon[2]                 CROYDON
4                               Bexley          BEXLEY, SIDCUP
5                         Redbridge[3]                  ILFORD
6                              City[4]                  LONDON
7                       Westminster[4]                  LONDON
8                             Brent[5]                 WEMBLEY
9                           Bromley[5]                  LONDON
10                        Islington[2]                  LONDON
11                          Bromley[5]               WESTERHAM
12                        Islington[6]                  LONDON
13                         Havering[6]              HORNCHURCH
14                           Barnet[6]          BARNET, LONDON
15                          Enfield[6]                  LONDON
16                       Wandsworth[7]                  LONDON
17                        Southwark[8]                  LONDON
18                             City[8]                  LONDON
19             Barking and Dagenham[8]                 BARKING
20                        Redbridge[9]                  ILFORD
21                           Bexley[9]             BEXLEYHEATH
22             Richmond upon Thames[9]                  LONDON
23                          Bexley[10]                DARTFORD
24                              Barnet          LONDON, BARNET
25                          Barnet[10]                  BARNET
26                       Islington[11]                  LONDON
27                      Wandsworth[12]                  LONDON
28                     Westminster[13]                  LONDON
29                         Bromley[14]       BECKENHAM, LONDON
..                                 ...                     ...
503                            Hackney                  LONDON
504                             Newham                  LONDON
505                             Camden                  LONDON
506                             Harrow                  HARROW
507                             Bexley                  LONDON
508                             Barnet                  LONDON
509             Hammersmith and Fulham                  LONDON
510                            Lambeth                  LONDON
511                            Bromley            WEST WICKHAM
512                          Greenwich                  LONDON
513                        Westminster                  LONDON
514                             Barnet                  LONDON
515             Hammersmith and Fulham                  LONDON
516                      Tower Hamlets                  LONDON
517                            Bromley                 BROMLEY
518               Richmond upon Thames              TWICKENHAM
519                              Brent                  LONDON
520                             Merton                  LONDON
521                            Enfield                  LONDON
522                           Haringey                  LONDON
523                          Redbridge                  LONDON
524                          Redbridge  LONDON, WOODFORD GREEN
525                           Hounslow               ISLEWORTH
526                            Croydon                 CROYDON
527                             Barnet                  LONDON
528                          Greenwich                  LONDON
529       Sutton, Kingston upon Thames          WORCESTER PARK
530             Hammersmith and Fulham                  LONDON
531                         Hillingdon                   HAYES
532                         Hillingdon            WEST DRAYTON

    Postcode district Dial code OS grid ref\n
0                 SE2       020    TQ465785\n
1              W3, W4       020    TQ205805\n
2                 CR0       020    TQ375645\n
3                 CR0       020    TQ345665\n
4           DA5, DA14       020    TQ478728\n
5                 IG2       020    TQ455895\n
6                 EC3       020    TQ334813\n
7                 WC2       020    TQ307810\n
8                 HA0       020    TQ185835\n
9                SE20       020    TQ345695\n
10            EC1, N1       020    TQ345665\n
11               TN16     01959    TQ425585\n
12                N19       020    TQ285875\n
13               RM11     01708    TQ535895\n
14           EN5, NW7       020    TQ225955\n
15           N11, N14       020    TQ295925\n
16               SW12       020    TQ285735\n
17                SE1       020    TQ325795\n
18                EC1       020    TQ322818\n
19               IG11       020    TQ440840\n
20                IG6       020    TQ445895\n
21                DA7     01322    TQ505755\n
22               SW13       020    TQ225765\n
23                DA1     01322    TQ525755\n
24           NW7, EN5       020    TQ218952\n
25                EN5       020    TQ245955\n
26                 N1       020    TQ305845\n
27               SW11       020    TQ285765\n
28                 W2       020    TQ255805\n
29          BR3, SE20       020    TQ375695\n
..                ...       ...           ...
503               N16       020    TQ340865\n
504          E13, E15       020    TQ405837\n
505               NW6       020    TQ255855\n
506               HA2       020    TQ145875\n
507               SE2       020    TQ475775\n
508               NW9       020    TQ215885\n
509               W14       020    TQ246783\n
510              SE27       020    TQ325715\n
511               BR4       020    TQ379660\n
512               SE3       020    TQ402780\n
513               SW1       020    TQ295795\n
514               N20       020    TQ265935\n
515               W12       020    TQ233807\n
516                E1       020    TQ335815\n
517               BR1       020    TQ411691\n
518               TW2       020    TQ145735\n
519              NW10       020    TQ227846\n
520        SW19, SW20       020    TQ239709\n
521               N21       020    TQ315945\n
522               N22       020    TQ305905\n
523          IG8, E18       020    TQ405915\n
524               IG8       020    TQ405915\n
525               TW7       020    TQ155755\n
526               CR0       020    TQ344672\n
527               N12       020    TQ256925\n
528              SE18       020    TQ435795\n
529               KT4       020    TQ225655\n
530               W12       020    TQ225815\n
531               UB4       020    TQ115825\n
532               UB7       020    TQ063804\n

[533 rows x 6 columns]

To ensure the correct column names To remove "\n" in column 'Neighborhood'

In [16]:
London.columns=['Neighborhood', 'Borough', 'Post town', 'PostalCode', 'Dial code', 'OS grid ref']
London = London.replace('\n','', regex=True)
London['Borough'] = London['Borough'].str.replace('\d+', '')
London['Borough']=London['Borough'].str.replace("[]",'', regex=False)

London

,Neighborhood,Borough,Post town,PostalCode,Dial code,OS grid ref
0,Abbey Wood,Greenwich,LONDON,SE2,020,TQ465785
1,Acton,"Ealing, Hammersmith and Fulham",LONDON,"W3, W4",020,TQ205805
2,Addington,Croydon,CROYDON,CR0,020,TQ375645
3,Addiscombe,Croydon,CROYDON,CR0,020,TQ345665
4,Albany Park,Bexley,"BEXLEY, SIDCUP","DA5, DA14",020,TQ478728
5,Aldborough Hatch,Redbridge,ILFORD,IG2,020,TQ455895
6,Aldgate,City,LONDON,EC3,020,TQ334813
7,Aldwych,Westminster,LONDON,WC2,020,TQ307810
8,Alperton,Brent,WEMBLEY,HA0,020,TQ185835
9,Anerley,Bromley,LONDON,SE20,020,TQ345695
10,Angel,Islington,LONDON,"EC1, N1",020,TQ345665
11,Aperfield,Bromley,WESTERHAM,TN16,01959,TQ425585
12,Archway,Islington,LONDON,N19,020,TQ285875
13,Ardleigh Green,Havering,HORNCHURCH,RM11,01708,TQ535895
14,Arkley,Barnet,"BARNET, LONDON","EN5, NW7",020,TQ225955
15,Arnos Grove,Enfield,LONDON,"N11, N14",020,TQ295925
16,Balham,Wandsworth,LONDON,SW12,020,TQ285735
17,Bankside,Southwark,LONDON,SE1,020,TQ325795
18,Barbican,City,LONDON,EC1,020,TQ322818
19,Barking,Barking and Dagenham,BARKING,IG11,020,TQ440840
20,Barkingside,Redbridge,ILFORD,IG6,020,TQ445895
21,Barnehurst,Bexley,BEXLEYHEATH,DA7,01322,TQ505755
22,Barnes,Richmond upon Thames,LONDON,SW13,020,TQ225765
23,Barnes Cray,Bexley,DARTFORD,DA1,01322,TQ525755
24,Barnet Gate,Barnet,"LONDON, BARNET","NW7, EN5",020,TQ218952
25,"Barnet (also Chipping Barnet, High Barnet)",Barnet,BARNET,EN5,020,TQ245955
26,Barnsbury,Islington,LONDON,N1,020,TQ305845
27,Battersea,Wandsworth,LONDON,SW11,020,TQ285765
28,Bayswater,Westminster,LONDON,W2,020,TQ255805
29,Beckenham,Bromley,"BECKENHAM, LONDON","BR3, SE20",020,TQ375695
...,...,...,...,...,...,...
503,West Hackney,Hackney,LONDON,N16,020,TQ340865
504,West Ham,Newham,LONDON,"E13, E15",020,TQ405837
505,West Hampstead,Camden,LONDON,NW6,020,TQ255855
506,West Harrow,Harrow,HARROW,HA2,020,TQ145875
507,West Heath,Bexley,LONDON,SE2,020,TQ475775
508,West Hendon,Barnet,LONDON,NW9,020,TQ215885
509,West Kensington,Hammersmith and Fulham,LONDON,W14,020,TQ246783
510,West Norwood,Lambeth,LONDON,SE27,020,TQ325715
511,West Wickham,Bromley,WEST WICKHAM,BR4,020,TQ379660
512,Westcombe Park,Greenwich,LONDON,SE3,020,TQ402780
513,Westminster,Westminster,LONDON,SW1,020,TQ295795
514,Whetstone,Barnet,LONDON,N20,020,TQ265935
515,White City,Hammersmith and Fulham,LONDON,W12,020,TQ233807
516,Whitechapel,Tower Hamlets,LONDON,E1,020,TQ335815
517,Widmore (also Widmore Green),Bromley,BROMLEY,BR1,020,TQ411691
518,Whitton,Richmond upon Thames,TWICKENHAM,TW2,020,TQ145735
519,Willesden,Brent,LONDON,NW10,020,TQ227846
520,Wimbledon,Merton,LONDON,"SW19, SW20",020,TQ239709
521,Winchmore Hill,Enfield,LONDON,N21,020,TQ315945
522,Wood Green,Haringey,LONDON,N22,020,TQ305905
523,Woodford,Redbridge,LONDON,"IG8, E18",020,TQ405915
524,Woodford Green,Redbridge,"LONDON, WOODFORD GREEN",IG8,020,TQ405915
525,Woodlands,Hounslow,ISLEWORTH,TW7,020,TQ155755
526,Woodside,Croydon,CROYDON,CR0,020,TQ344672
527,Woodside Park,Barnet,LONDON,N12,020,TQ256925
528,Woolwich,Greenwich,LONDON,SE18,020,TQ435795
529,Worcester Park,"Sutton, Kingston upon Thames",WORCESTER PARK,KT4,020,TQ225655
530,Wormwood Scrubs,Hammersmith and Fulham,LONDON,W12,020,TQ225815
531,Yeading,Hillingdon,HAYES,UB4,020,TQ115825
532,Yiewsley,Hillingdon,WEST DRAYTON,UB7,020,TQ063804

To first group based on PostCode, second to combine neighborhood names in the same PostCode, and finally to drop the duplicated rows

In [17]:
London['PostalCode'] = London[['Neighborhood','Borough','Post town','PostalCode','Dial code','OS grid ref']].groupby(['Neighborhood'])['PostalCode'].transform(lambda x: ','.join(x))
London['Borough'] = London[['Neighborhood','Borough','Post town','PostalCode','Dial code','OS grid ref']].groupby(['Neighborhood'])['Borough'].transform(lambda x: ','.join(x))
London=London[['Neighborhood','Borough','Post town','PostalCode','Dial code','OS grid ref']].drop_duplicates(subset='Neighborhood')
London=London.drop(['Dial code'], axis =1)

In [18]:
London.to_csv('London.csv', index=False)
London.shape

(527, 5)

Using the folllowing link to convert 'OS grid ref' in London data frame to 'latitude' and 'longitude' and save the file as 'London_Geospatial_Coordinates.csv'
https://gridreferencefinder.com/batchConvert/batchConvert.php

In [20]:
coord=pd.read_csv('London_Geospatial_Coordinates.csv')
coord.shape

(527, 5)

In [22]:
combin = pd.merge(London, coord)
combin

,Neighborhood,Borough,Post town,PostalCode,OS grid ref,X,Y,Lat,Lng
0,Abbey Wood,Greenwich,LONDON,SE2,TQ465785,546500.0,178500.0,51.486481,0.108592
1,Acton,"Ealing, Hammersmith and Fulham",LONDON,"W3, W4",TQ205805,520500.0,180500.0,51.510588,-0.264989
2,Addington,Croydon,CROYDON,CR0,TQ375645,537500.0,164500.0,51.362931,-0.026374
3,Addiscombe,Croydon,CROYDON,CR0,TQ345665,534500.0,166500.0,51.381622,-0.068682
4,Addiscombe,Croydon,CROYDON,CR0,TQ345665,534500.0,166500.0,51.381622,-0.068682
5,Angel,Islington,LONDON,"EC1, N1",TQ345665,534500.0,166500.0,51.381622,-0.068682
6,Angel,Islington,LONDON,"EC1, N1",TQ345665,534500.0,166500.0,51.381622,-0.068682
7,Albany Park,Bexley,"BEXLEY, SIDCUP","DA5, DA14",TQ478728,547800.0,172800.0,51.434926,0.124921
8,Aldborough Hatch,Redbridge,ILFORD,IG2,TQ455895,545500.0,189500.0,51.585578,0.098742
9,Aldgate,City,LONDON,EC3,TQ334813,533400.0,181300.0,51.514882,-0.078905
10,Aldwych,Westminster,LONDON,WC2,TQ307810,530700.0,181000.0,51.512816,-0.117904
11,Alperton,Brent,WEMBLEY,HA0,TQ185835,518500.0,183500.0,51.537973,-0.292787
12,Anerley,Bromley,LONDON,SE20,TQ345695,534500.0,169500.0,51.408582,-0.067546
13,Aperfield,Bromley,WESTERHAM,TN16,TQ425585,542500.0,158500.0,51.307784,0.042998
14,Archway,Islington,LONDON,N19,TQ285875,528500.0,187500.0,51.571734,-0.147219
15,Archway,Islington,LONDON,N19,TQ285875,528500.0,187500.0,51.571734,-0.147219
16,Highgate,Camden,LONDON,N6,TQ285875,528500.0,187500.0,51.571734,-0.147219
17,Highgate,Camden,LONDON,N6,TQ285875,528500.0,187500.0,51.571734,-0.147219
18,Ardleigh Green,Havering,HORNCHURCH,RM11,TQ535895,553500.0,189500.0,51.583457,0.214123
19,Arkley,Barnet,"BARNET, LONDON","EN5, NW7",TQ225955,522500.0,195500.0,51.644964,-0.230957
20,Arnos Grove,Enfield,LONDON,"N11, N14",TQ295925,529500.0,192500.0,51.616438,-0.130954
21,Arnos Grove,Enfield,LONDON,"N11, N14",TQ295925,529500.0,192500.0,51.616438,-0.130954
22,New Southgate,Barnet,LONDON,N11,TQ295925,529500.0,192500.0,51.616438,-0.130954
23,New Southgate,Barnet,LONDON,N11,TQ295925,529500.0,192500.0,51.616438,-0.130954
24,Balham,Wandsworth,LONDON,SW12,TQ285735,528500.0,173500.0,51.445919,-0.152316
25,Bankside,Southwark,LONDON,SE1,TQ325795,532500.0,179500.0,51.498918,-0.092543
26,Bankside,Southwark,LONDON,SE1,TQ325795,532500.0,179500.0,51.498918,-0.092543
27,Newington,Southwark,LONDON,"SE1, SE17",TQ325795,532500.0,179500.0,51.498918,-0.092543
28,Newington,Southwark,LONDON,"SE1, SE17",TQ325795,532500.0,179500.0,51.498918,-0.092543
29,Barbican,City,LONDON,EC1,TQ322818,532200.0,181800.0,51.519657,-0.096001
...,...,...,...,...,...,...,...,...,...
605,Well Hall,Greenwich,LONDON,SE9,TQ425751,542500.0,175100.0,51.456950,0.049652
606,Wembley Park,Brent,WEMBLEY,HA9,TQ192863,519200.0,186300.0,51.562990,-0.281751
607,Wennington,Havering,RAINHAM,RM13,TQ545805,554500.0,180500.0,51.502323,0.224597
608,West Brompton,Kensington and Chelsea,LONDON,SW10,TQ253779,525300.0,177900.0,51.486179,-0.196780
609,West Drayton,Hillingdon,WEST DRAYTON,UB7,TQ065795,506500.0,179500.0,51.504409,-0.466948
610,West Green,Haringey,LONDON,N15,TQ324892,532400.0,189200.0,51.586109,-0.090337
611,West Hackney,Hackney,LONDON,N16,TQ340865,534000.0,186500.0,51.561468,-0.068285
612,West Hampstead,Camden,LONDON,NW6,TQ255855,525500.0,185500.0,51.554435,-0.191197
613,West Harrow,Harrow,HARROW,HA2,TQ145875,514500.0,187500.0,51.574748,-0.349134
614,West Heath,Bexley,LONDON,SE2,TQ475775,547500.0,177500.0,51.477236,0.122567
615,West Hendon,Barnet,LONDON,NW9,TQ215885,521500.0,188500.0,51.582272,-0.247826
616,West Kensington,Hammersmith and Fulham,LONDON,W14,TQ246783,524600.0,178300.0,51.489928,-0.206715
617,West Norwood,Lambeth,LONDON,SE27,TQ325715,532500.0,171500.0,51.427025,-0.095538
618,West Wickham,Bromley,WEST WICKHAM,BR4,TQ379660,537900.0,166000.0,51.376314,-0.020051
619,White City,Hammersmith and Fulham,LONDON,W12,TQ233807,523300.0,180700.0,51.511782,-0.224592
620,Widmore (also Widmore Green),Bromley,BROMLEY,BR1,TQ411691,541100.0,169100.0,51.403385,0.027127
621,Whitton,Richmond upon Thames,TWICKENHAM,TW2,TQ145735,514500.0,173500.0,51.448920,-0.353676
622,Willesden,Brent,LONDON,NW10,TQ227846,522700.0,184600.0,51.546962,-0.231876
623,Wimbledon,Merton,LONDON,"SW19, SW20",TQ239709,523900.0,170900.0,51.423577,-0.219382
624,Winchmore Hill,Enfield,LONDON,N21,TQ315945,531500.0,194500.0,51.633947,-0.101333
625,Woodford,Redbridge,LONDON,"IG8, E18",TQ405915,540500.0,191500.0,51.604817,0.027422
626,Woodford,Redbridge,LONDON,"IG8, E18",TQ405915,540500.0,191500.0,51.604817,0.027422
627,Woodford Green,Redbridge,"LONDON, WOODFORD GREEN",IG8,TQ405915,540500.0,191500.0,51.604817,0.027422
628,Woodford Green,Redbridge,"LONDON, WOODFORD GREEN",IG8,TQ405915,540500.0,191500.0,51.604817,0.027422
629,Woodside,Croydon,CROYDON,CR0,TQ344672,534400.0,167200.0,51.387936,-0.069854
630,Woodside Park,Barnet,LONDON,N12,TQ256925,525600.0,192500.0,51.617321,-0.187253
631,Worcester Park,"Sutton, Kingston upon Thames",WORCESTER PARK,KT4,TQ225655,522500.0,165500.0,51.375349,-0.241370
632,Wormwood Scrubs,Hammersmith and Fulham,LONDON,W12,TQ225815,522500.0,181500.0,51.519145,-0.235836
633,Yeading,Hillingdon,HAYES,UB4,TQ115825,511500.0,182500.0,51.530410,-0.393990
634,Yiewsley,Hillingdon,WEST DRAYTON,UB7,TQ063804,506300.0,180400.0,51.512536,-0.469557

In [23]:
combin.to_csv('combin.csv', index=False)

In [24]:
Lon_data = combin[combin['Post town'] == 'LONDON'].reset_index(drop=True)
Lon_data['PostalCode'] = Lon_data[['Neighborhood','Borough','Post town','PostalCode','OS grid ref','X','Y','Lat','Lng']].groupby(['Neighborhood'])['PostalCode'].transform(lambda x: ','.join(x))
Lon_data['Borough'] = Lon_data[['Neighborhood','Borough','Post town','PostalCode','OS grid ref','X','Y','Lat','Lng']].groupby(['Neighborhood'])['Borough'].transform(lambda x: ','.join(x))
Lon_data=Lon_data[['Neighborhood','Borough','Post town','PostalCode', 'OS grid ref', 'X','Y','Lat','Lng']].drop_duplicates(subset='Neighborhood')
Lon_data.head()
Lon_data.shape
Lon_data.to_csv('Lon_data.csv', index=False)